#profile {
  color:white
  font-weight: bold;
}
h1 {
    color:blue;
  }
body {
    background-color: lightgray;
    color: purple;
  }
.header {
    color: red;
    font-weight: bold;
}
a:link {
    color: royalblue;
  }
